.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  height: 100vh;
  background-image: linear-gradient(to right, #000000 0%, #434343 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #f3fffe;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50rem;
  height: 30rem;
  box-shadow: 0.5px 0.5px 1px 1px rgb(255, 255, 223);
}

.card-image {
  background: url("https://images.unsplash.com/photo-1505506874110-6a7a69069a08?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c3BhY2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=900&q=60");
  background-position: center;
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 10px;
  margin: 5px;
  width: 20rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
}

.error {
  font-family: sans-serif;
  color: red;
}

.submit-btn {
  width: 80%;
  margin-top: 20px;
  background: transparent;
  padding: 10px 20px;
  cursor: pointer;
  background-color: black;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
}
